    html,
    body {
        height: 90%;
    }
    
    #left-column {
        margin-right: 0px;
        margin-left: 2%;
        border-top: 1px solid gainsboro;
        width: 20%;
        height: 100%;
    }
    
    #center-column {
        width: 70%;
        height: 100%;
    }
    
    #common {
        margin-top: 100px;
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    #contentHalder {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 400px;
        width: 100%;
        height: 100%;
    }
    
    .content {
        border: 1px solid gainsboro;
    }
    
    [div=profile] img {
        height: 50px;
        width: 50px;
    }
    
    div[class="content"] img {
        vertical-align: middle;
        margin-top: 30px;
        margin-left: 20%;
        width: 75%;
        height: 150px;
    }
    
    .product-name {
        font-size: 125%;
        margin-left: 35%;
        margin-top: 10%;
    }
    
    .product-price {
        font-size: 125%;
        margin-left: 45%;
        margin-top: 10%;
    }
    
    .buy-button {
        font-size: 125%;
        margin-left: 33%;
        margin-top: 10%;
        border-radius: 9px;
        background-color: gainsboro;
        padding: 7px 50px;
    }