<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <context-param>
    <param-name>captcha</param-name>
    <param-value>cookie</param-value>
  </context-param>
  <context-param>
    <param-name>captchaTime</param-name>
    <param-value>300</param-value>
  </context-param>
  <context-param>
    <param-name>defaultProductsOnPage</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>productSortType</param-name>
    <param-value>byPriceFromLow</param-value>
  </context-param>
  <context-param>
    <param-name>applicationLocale</param-name>
    <param-value>en, ru, de</param-value>
  </context-param>
  <context-param>
    <param-name>localeSaveTime</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>securityFilePath</param-name>
    <param-value>src/main/resources/Security.xml</param-value>
  </context-param>

  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-class>com.nure.prykhodko.filter.SecurityFilter</filter-class>
    <filter-name>SecurityFilter</filter-name>
  </filter>


  <!-- filter for security-->
  <filter>
    <filter-class>com.nure.prykhodko.filter.LogoutFilter</filter-class>
    <filter-name>logoutFilter</filter-name>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- filter for logout-->
  <filter>
    <filter-class>com.nure.prykhodko.filter.LocaleFilter</filter-class>
    <filter-name>localizationFilter</filter-name>
  </filter>
  <filter-mapping>
    <filter-name>logoutFilter</filter-name>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>

  <!-- filter for localization-->
  <filter>
    <filter-class>com.nure.prykhodko.filter.CacheFilter</filter-class>
    <filter-name>CacheFilter</filter-name>
  </filter>
  <filter-mapping>
    <filter-name>localizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- filter for cache-->
  <filter>
    <filter-class>com.nure.prykhodko.filter.GZipServletFilter</filter-class>
    <filter-name>GzipFilter</filter-name>
  </filter>

  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- filter for GZip-->
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/403Error.jsp</location>
  </error-page>

  <listener>
    <listener-class>com.nure.prykhodko.listener.ContextListener</listener-class>
  </listener>

  <resource-ref>
    <description>DB Connection</description>
    <res-auth>Container</res-auth>
    <res-ref-name>jdbc/electronic_store</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>

  <!--Errors-->
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
