<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'
  debug="true">

  <appender class="org.apache.log4j.ConsoleAppender" name="console">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </layout>
  </appender>

  <appender class="org.apache.log4j.RollingFileAppender" name="file">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </layout>
    <param name="maxFileSize" value="10MB"/>
    <param name="maxBackupIndex" value="10"/>
    <param name="file" value="C:/task1/git pracrice I/pre_prod_java_q4q1_2019/tasks/loggerOutput.log"/>
    <param name="append" value="false"/>
  </appender>

  <logger additivity="false" name="com">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <level value="info"/>
  </logger>

  <root>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <level value="DEBUG"/>
  </root>

</log4j:configuration>
